body {
    background-color: #2C2C2C;
    font-family: "Roboto", sans-serif;
    color: #F4F4F6;
    margin: 0;
    padding: 0;
    padding-bottom: 80px;
}

/* .list-group-item {
    background-color: #202022;
    border-color: #202022;
} */

.link-item {
    color: #F4F4F6;
    text-decoration: none;
}

.link-item:hover {
    color: #BDBDBD;
}

.link-item-alt {
    color: #4ADBC8;
    text-decoration: none;
}

.link-item-alt:hover {
    color: #BDBDBD;
}

.list-group-item-no-background {
    background-color: transparent;
}

.list-group-item-no-background-no-border {
    border-color: transparent;
    background-color: transparent;
}

.list-span {
    color: #F4F4F6;
}

.center-p {
    margin: 50px;
    text-align: center;
}

.center-p-small-margins {
    margin: 10px;
    text-align: center;
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.center-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 50px;
}