.post-comments-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 10px;
}

.post-container {
    flex: 1;
    min-width: 45%;
    margin: 10px;
}

.comments-container {
    flex: 1;
    min-width: 45%;
    margin: 10px;
}